body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-image: url("Assets/lofi_illustrations_freepik.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header {
    text-align: center;
    padding: 2rem;
    color: white;
}

header nav a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.project {
    border: 1px solid #ccc;
    padding: 1rem;
    width: 200px;
    text-align: center;
}

.project img {
    width: 100%;
    height: auto;
}
